<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bloodbank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.SingleUserData"></activity>
        <activity android:name=".Activity.AdminProfile" />
        <activity android:name=".Activity.VerifiedRequests" />
        <activity android:name=".Activity.UserProfile" />
        <activity
            android:name=".Activity.UserDashboard"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Activity.RequestBlood" />
        <activity android:name=".Activity.Donate" />
        <activity android:name=".Activity.UserRegister" />
        <activity android:name=".Activity.UserLogin" />
        <activity android:name=".Activity.AdminRegister" />
        <activity android:name=".Activity.AdminLogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>